<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <h1>Hola, {{ nombre }} {{apellido}} </h1> 
   <h2> estas son mis notas </h2>
<p>
    {% for n in Notas %}
    {{ n }}
    <br>
    {% endfor %}
</p>
<p>
    {% for n in Notas %}
    {% if n < 4 %}
        <p style="color: red" > Nota mala: {{ n }}</p>
    {% else %}
        <p style="color: green" > Nota buena: {{ n }}</p>
    {% endif %}
    {% endfor %}
</p>




</body>
</html>