<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario con Estilo - Agregar Curso</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <form action="/vendedor_form/" method="POST">  
        
        {% csrf_token %}

        <p> Vendedor: <input type = "text" name="Nombre"></p>

        <p> Turno: <input type = "text" name="Turno"></p>

        <p> Monto_caja: <input type = "number" name="Monto_caja"></p>

        <input type = "submit" value="Enviar">
     </form>   

</body>
</html> 